body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: #f9f9f9;
    color: #2a2a2a;
}

header {
    padding: 40px 0;
    background: white;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.1);
}

h1 { font-size: 2rem; margin: 0; }
h2 { margin-top: 30px; font-size: 1.5rem; }

footer {
    margin-top: 50px;
    padding: 15px;
    background: #fff;
    font-size: 0.9rem;
}
